[submodule "algorithms/navigation/JanusVLN"]
	path = algorithms/navigation/JanusVLN
	url = git@github.com:MIV-XJTU/JanusVLN.git
[submodule "algorithms/navigation/JanusVLN/JanusVLN"]
	path = algorithms/navigation/JanusVLN/JanusVLN
	url = git@github.com:MIV-XJTU/JanusVLN.git
